<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LocalBitcoins Charts</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container" style="width: 936px; margin: 0 auto">
        <h1 class="page-header">LocalBitcoins Charts</h1>

        <canvas id="chart" width="936px" height="400"></canvas>
        <div id="flot" style="width: 936px; height: 400px"></div>

        <p>&nbsp;</p>

        <script src="{{ url_for('static', filename='Chart.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.flot.time.js') }}"></script>

        <script>
            $(function() {
                var data = {{ chartjs_data|safe }};
                var data = {
                    labels : data.localbitcoins_sell_usd.labels,
                    datasets: [
                        {
                            data : data.localbitcoins_sell_usd.data,
                            fillColor : "rgba(151,187,205,0.0)",
                            strokeColor : "rgba(151,187,205,1)",
                            pointColor : "rgba(151,187,205,1)",
                            pointStrokeColor : "#fff",
                        },
                        {
                            data : data.localbitcoins_buy_usd.data,
                            fillColor : "rgba(187,151,205,0.0)",
                            strokeColor : "rgba(187,151,205,1)",
                            pointColor : "rgba(187,151,205,1)",
                            pointStrokeColor : "#fff",
                        },
                        {
                            data : data.localbitcoins_24h_avg_usd.data,
                            fillColor : "rgba(205,187,151,0.0)",
                            strokeColor : "rgba(205,187,151,1)",
                            pointColor : "rgba(205,187,151,1)",
                            pointStrokeColor : "#fff",
                        },
                    ],
                };
                var options = {
                    bezierCurve: false,
                    scaleOverlay: true,
                };
                var ctx = document.getElementById("chart").getContext("2d");
                var chart = new Chart(ctx);
                chart.Line(data, options);
                options.animation = false;
            });

            $(function() {
                var data = {{ flotcharts_data|safe }};

                var options = {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    },
                    xaxis: {
                        mode: "time",
                        minTickSize: [1, "hour"],
                    },
                };

                $.plot("#flot", [
                    {
                        "label": "localbitcoins_24h_avg_usd",
                        "data": data.localbitcoins_24h_avg_usd,
                    },
                    {
                        "label": "localbitcoins_sell_usd",
                        "data": data.localbitcoins_sell_usd,
                    },
                    {
                        "label": "localbitcoins_buy_usd",
                        "data": data.localbitcoins_buy_usd,
                    },
                ], options);
            });
        </script>
    </body>
</html>
